<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<!--
<filter>
  <filter-name>LiftFilter</filter-name>
  <display-name>Lift Filter</display-name>
  <description>The Filter that intercepts lift calls</description>
  <filter-class>net.liftweb.http.LiftFilter</filter-class>
</filter>
  	

<filter-mapping>
  <filter-name>LiftFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
-->

  <servlet>
     <servlet-name>log4j-api</servlet-name>
     <servlet-class>org.yournex.nexmail.controller.api.Log4jInit</servlet-class>
     <init-param>
        <param-name>log4j-init-file</param-name>
        <param-value>/WEB-INF/classes/api-log4j.properties</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
  </servlet>


  <servlet>
    <servlet-name>LoginAuth</servlet-name>
    <servlet-class>org.yournex.nexmail.controller.api.LoginAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAuth</servlet-name>
    <url-pattern>/api/auth</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MailDispatcher</servlet-name>
    <servlet-class>org.yournex.nexmail.controller.api.MailDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailDispatcher</servlet-name>
    <url-pattern>/api/mail/*</url-pattern>
  </servlet-mapping>

</web-app>
